.baseStyle {
  background-color: #25274D;
  color: #aaabb8;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.lightBlueText {
  color: #2E9CCA;
}
.darkBlueText {
  color: #29648A;
}
.darkGreyText {
  color: #464866;
}
.defaultText {
  color: #AAABB8;
}
.backgroundColorText {
  color: #25274D;
}

.pictureBorder {
  border: #464866;
}

.projectBox{
  background-color: rgba(21, 23, 61, 0.90);
  padding: 2%;
}

.darkBox {
  background-color: rgba(21, 23, 61, 0.90);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: #25274D;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

input.navButton + label {
  background-color: transparent;
  padding: 10px;
  border: none;
}

input.navButton + p.navLabel {
  background-color: transparent;
  border-left:5px solid #464866;
  padding: 12px;
}

input.navButton + p.navLabel:hover {
  background-color: #464866;
}

input.navButton:checked + label {
  color: #2E9CCA;
  border: none;
}

input.navButton:checked + p.navLabel {
  color: #2E9CCA;
  border-left:5px solid #2E9CCA;
  background-color: #464866;
}

.tabs{
  
}

.experienceBox{
  height: 100%;
  overflow:auto;
}

.navButton:hover{
  color: #1449ba;
}

.footer {
  background-color: #25274D;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  /* height: 60px; */
  width: 100%;
}

.phantomFooter {
  height:60px;
  width: 100%;
}

.linkImage {
  width: 25px;
  height:25px;
}

.inlineLinkImage {
  width: 19px;
  height:19px;
  margin-left:10px;
}
.inlineLinkImage:hover{
  color:#2E9CCA
}
.projectLink {
  color:#2E9CCA;
  text-decoration:none;
}
.projectLink:hover {
  color:#29648A
}
.projectImage {
  
}
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}