.baseStyle {
  background-color: #25274D;
  color: #aaabb8;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.lightBlueText {
  color: #2E9CCA;
}
.darkBlueText {
  color: #29648A;
}
.darkGreyText {
  color: #464866;
}
.defaultText {
  color: #AAABB8;
}
.backgroundColorText {
  color: #25274D;
}

.pictureBorder {
  border: #464866;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: #25274D;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

input.navButton + label {
  background-color: transparent;
  padding: 10px;
  border: none;
}

input.navButton:checked + label {
  color: #2E9CCA;
  padding: 10px;
  border: none;
}

.navButton:hover{
  color: #1449ba;
}

.footer {
  background-color: #25274D;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  /* height: 60px; */
  width: 100%;
}

.phantomFooter {
  height:60px;
  width: 100%;
}

.linkImage {
  width: 25px;
  height:25px;
}